# Byte-compiled / optimized / DLL files
__pycache__/
target/
.qmlls.ini
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Testing and coverage
.tox/
.coverage
htmlcov/
.pytest_cache/

# Logs and databases
*.log
*.sqlite
*.db

# Anki backup artifacts (if exported into project dir by accident)
*.apkg
